@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Always white */
  --foreground: #000000; /* Always black */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
}

